body {
  background: #F3F3F3;
}
/*loading modal*/
.app-modal-window .modal-content {
     background-color: transparent;
    background-image: none;
    border: none;
    box-shadow: none;
    opacity: 2;
}

/*css3 turntable*/
#turntable {
    position: relative;
    margin: 50px auto;
    width: 200px;
    height: 190px;
    background: #3e5266;
    border-radius: 25px;
    box-shadow: 0 10px 0 0 #2c3e50;
    overflow: hidden;
}

.disk-container {
    width: 135px;
    height: 135px;
    background: #bec5c9;
    border-radius: 50%;
    margin: 27px auto 0;
    overflow: hidden;
}

.disk::before {
    width: 20px;
    height: 0;
    border-top: 50px solid #495c6e;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -20px;
}

.disk {
    background: #34495e;
    width: 125px;
    height: 125px;
    margin: 5px auto 0;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.disk::after {
    width: 20px;
    height: 0;
    border-bottom: 50px solid #495c6e;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    bottom: 0;
}

.middle {
    width: 50px;
    height: 50px;
    background: #5fccff;
    border-radius: 50%;
    position: relative;
    z-index: 3;
    margin: -25px auto 0;
    top: 50%;
}

.middle::before {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    content: "";
    background: #35485a;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}

.middle::after {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    content: "";
    background: #35485a;
    left: 50%;
    margin-left: -4px;
    top: 50%;
    margin-top: -4px;
    background: white;
}

.arm-container {
    position: absolute;
    background: white;
    border-radius: 50%;
    display: block;
    width: 24px;
    height: 24px;
    right: 15px;
    top: 20px;
    -ms-transform: rotate(-11deg);
        transform: rotate(-11deg);
    -moz-transform: rotate(-11deg);
    -webkit-transform: rotate(-11deg);
    -webkit-transition: -webkit-transform 1s;
    transition: transform 1s;
}

.arm-container::before {
    content: "";
    color: white;
    display: block;
    width: 16px;
    height: 16px;
    background: #95a5a6;
    border-radius: 50%;
    top: 4px;
    left: 4px;
    position: absolute;
}

.arm {
    width: 6px;
    height: 55px;
    background: #fff;
    position: absolute;
    top: 22px;
    left: 10px;
}

.arm::before {
    height: 30px;
    width: 6px;
    background: #fff;
    position: absolute;
    display: block;
    content: "";
    left: -7px;
    top: 52px;
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
        transform: rotate(30deg);
    -webkit-transition: all .2s;
    transition: all .2s;
}

.arm::after {
    position: absolute;
    content: "\25CF";
    text-align: center;
    vertical-align: middle;
    width: 15px;
    overflow: hidden;
    color: #344657;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    top: 73px;
    right: 12px;
    font-size: 11px;
}


.play .arm-container {
   -webkit-transform: rotate(10deg);
   -ms-transform: rotate(10deg);
       transform: rotate(10deg);
}

.play .disk {
    -webkit-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

/*spinner*/
.small2 {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: transparent;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.small1 {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 50vh;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: transparent;
}

.bigcon {
  position: absolute;
  height: 95px;
  width: 95px;
  top: 50vh;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: transparent;
  animation: bigcon 2s infinite linear;
  animation-delay: 0.25s;
}

.ball {
  border-radius: 50%;
  position: absolute;
}

.small {
  width: 25px;
  height: 25px;
  animation: small 2s infinite ease;
  box-shadow: 0px 2px rgba(0,0,0,0.3);
   background-color: #46b9ff;
}

.small:nth-child(1) {
  top: 0%;
  left: 0%;
}

.small:nth-child(2) {
  top: 0%;
  right: 0%;
}

.small:nth-child(3) {
  right: 0%;
  bottom: 0%;
}

.small:nth-child(4) {
  bottom: 0%;
  left: 0%;
}

.big {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  box-shadow:0px 0px 10px #54f7f8, 0px 0px 20px #54f7f8, 0px 0px 30px #54f7f8, 0px 0px 50px #54f7f8, 0px 0px 60px #54f7f8 ;
  z-index: 1;
  background-color: #54f7f8;
  animation: bigball 1s infinite linear;
}

.smallball1{
  animation-delay: -1.75s;
}
.smallball6{
  animation-delay: -1.5s;
}
.smallball2{
  animation-delay: -1.25s;
}
.smallball7{
  animation-delay: -1s;
}
.smallball3{
  animation-delay: -0.75s;
}
.smallball8{
  animation-delay: -0.5s;
}
.smallball4{
  animation-delay: -0.25s;
}
.smallball5{
  animation-delay: -0s;
}

@keyframes bigcon {
  0% {
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  100% {
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(405deg);
  }
}

@keyframes small {
  0% {
    transform: scale(1);
     background-color: #46b9ff;
  }
  10% {
    transform: scale(1.3);
    background-color: #54f7f8;
  }
  15% {
    transform: scale(1);
  }
  25%{
transform: scale(1);
     background-color: #46b9ff;
  }
  100%{
    transform: scale(1);
     background-color: #46b9ff;
  }
}

