
html, body {
  height: 100%;

}
h3 { 

  font-family: 'Montserrat', sans-serif; font-weight: 100;

 }

h3:hover{

background-color: transparent;
  color: white;
}





/*.inverted {
  filter: invert(100%);
}
*/
/*loading modal*/
.app-modal-window .modal-content {
    background-color: transparent;
    background-image: none;
    border: none;
    box-shadow: none;
    opacity: 2;
}

/*css3 turntable*/
#turntable {
    position: relative;
    margin: 50px auto;
    width: 200px;
    height: 190px;
    background: #3e5266;
    border-radius: 25px;
    box-shadow: 0 10px 0 0 #2c3e50;
    overflow: hidden;
}

.disk-container {
    width: 135px;
    height: 135px;
    background: #bec5c9;
    border-radius: 50%;
    margin: 27px auto 0;
    overflow: hidden;
}

.disk::before {
    width: 20px;
    height: 0;
    border-top: 50px solid #495c6e;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -20px;
}

.disk {
    background: #34495e;
    width: 125px;
    height: 125px;
    margin: 5px auto 0;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.disk::after {
    width: 20px;
    height: 0;
    border-bottom: 50px solid #495c6e;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    bottom: 0;
}

.middle {
    width: 50px;
    height: 50px;
    background: #5fccff;
    border-radius: 50%;
    position: relative;
    z-index: 3;
    margin: -25px auto 0;
    top: 50%;
}

.middle::before {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    content: "";
    background: #35485a;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}

.middle::after {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    content: "";
    background: #35485a;
    left: 50%;
    margin-left: -4px;
    top: 50%;
    margin-top: -4px;
    background: white;
}

.arm-container {
    position: absolute;
    background: white;
    border-radius: 50%;
    display: block;
    width: 24px;
    height: 24px;
    right: 15px;
    top: 20px;
    -ms-transform: rotate(-11deg);
        transform: rotate(-11deg);
    -moz-transform: rotate(-11deg);
    -webkit-transform: rotate(-11deg);
    -webkit-transition: -webkit-transform 1s;
    transition: transform 1s;
}

.arm-container::before {
    content: "";
    color: white;
    display: block;
    width: 16px;
    height: 16px;
    background: #95a5a6;
    border-radius: 50%;
    top: 4px;
    left: 4px;
    position: absolute;
}

.arm {
    width: 6px;
    height: 55px;
    background: #fff;
    position: absolute;
    top: 22px;
    left: 10px;
}

.arm::before {
    height: 30px;
    width: 6px;
    background: #fff;
    position: absolute;
    display: block;
    content: "";
    left: -7px;
    top: 52px;
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
        transform: rotate(30deg);
    -webkit-transition: all .2s;
    transition: all .2s;
}

.arm::after {
    position: absolute;
    content: "\25CF";
    text-align: center;
    vertical-align: middle;
    width: 15px;
    overflow: hidden;
    color: #344657;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    top: 73px;
    right: 12px;
    font-size: 11px;
}


.play .arm-container {
   -webkit-transform: rotate(10deg);
   -ms-transform: rotate(10deg);
       transform: rotate(10deg);
}

.play .disk {
    -webkit-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}


/*background css*/
body{

background: rgba(147,206,222,1);
background: -moz-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(147,206,222,1)), color-stop(41%, rgba(117,189,209,1)), color-stop(100%, rgba(73,165,191,1)));
background: -webkit-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
background: -o-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
background: -ms-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
background: linear-gradient(to right, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );
}


@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
  border-radius: 3px; 
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}

/*
.btn{

  background: transparent;
 /* color: #F2F2F2;
}
*/

/*.navbar-default{
  background: transparent !important;
}*/

.navbar-inner {
  background: none !important; 
/*  border: none !important;*/
  box-shadow: none !important;
  outline-color: none!important;
  -webkit-box-shadow: none !important;
}
.navbar-toggle {
  border: 0 !important; 
  outline: 0 !important; 
}




a {
   outline: 0 !important;
}

a:hover{

}

/*mic*/

html, body {
  width: 100%;
  height: 100%;
}

[class*="ico--"] {
  display: block;
  width: 6em;
  height: 12em;
  margin: -3em auto;
  border-radius: 100px;
  border: 0.28571em solid #FFF;
  position: absolute;
  z-index: 3 !important;
  left: 0;
  right: 0;

}
[class*="ico--"]:before, [class*="ico--"]:after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
}
[class*="ico--"]:before {
  content: '';
  display: block;
  width: 7.8em;
  height: 7.8em;
  border-radius: 100px;
  border: 0.28571em solid transparent;
  border-bottom: 0.28571em solid #FFF;
  border-left: 0.28571em solid #FFF;
  transform: translateX(-1.15em) translateY(5em) rotate(-45deg);
  z-index: -1;
}
[class*="ico--"]:after {
  width: 6em;
  height: 4em;
  border-radius: 00px;
  border-bottom: 0.28571em solid #FFF;
  transform: translateX(0) translateY(13.2em);
  border-top: transparent;
  background: -webkit-linear-gradient(left, transparent, transparent 48%, #FFF 48%, #FFF 52%, transparent 52%, transparent) left repeat;
  background: linear-gradient(to right, transparent, transparent 48%, #FFF 48%, #FFF 52%, transparent 52%, transparent) left repeat;
  z-index: 1;
}


span.ico--mic:hover{
  background-color: rgb(71, 192, 235);
  transition: 8s;
  box-shadow: inset 0 0 0 55px #3071A9;
  display: block
  top: 0;
}




/*Button */ 
 {
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
 overflow: hidden;
}

.button {
  will-change: transform;
  width: 140px;
  height: 140px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;

  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /*background: #5fb5fe;*/
  border-radius: 50%;
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
          transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
}


.button-wrapper {
  height: 50vh;
  width: 50vw;
  overflow: hidden;
}



/*.button-svg {
  width: 80px;
  height: 80px;
  fill: white;
  -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
          transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}*/
/*.button:hover svg {
  fill: black;
}*/