<!-- <div align="center"> 
  <div class="wrapper"> -->
    <div class="button-wrapper">
	<div class="button" class="fill" ng-click="onListen()" style="padding-top:10px" data-toggle="tooltip" data-placement="bottom" title="Click here to start Megastream">
    <span class="ico--mic" fill></span>
    </div>
   </div>
<!--   </div>
</div> -->

<!--  <div ng-hide="signedIn()">
      <p><a data-toggle="modal" data-target="#login-modal">Sign in</a> or <a ng-href="#/register">register</a> to save your listening stats</p>
      <a ng-click="discogsLogin()"> Connect</a> to Discogs to manage your collection.
    </div>
    <div style="padding-top:10px"> -->


<!-- <div style="padding-top:10px">
<ul class="list-unstyled">
<li><b>Artist:</b> {{artist}}</li>
<li><b>Track:</b> {{track}}</li>
<li><b>Album:</b> {{album}}</li>
<img src="{{album_image}}" alt=""/>
</ul>
</div>

<table st-table="releaseResults" ng-show="showResults" class="table table-striped">
	<thead>
	<tr>
		<th>title</th>
		<th>year</th>
		<th>country</th>
		<th>catno</th>
		<th>formats</th>
		<th>url</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="release in releaseResults">
		<td>{{release.title}}</td>
		<td>{{release.year}}</td>
		<td>{{release.country}}</td>
		<td>{{release.catno}}</td>
		<td>{{release.format | json : spacing}}</td>
		<td>{{release.resource_url}}</td>
	</tr>
	</tbody>
</table> -->


