<div align="center">
 <div ng-hide="signedIn()">
      <p><a href="#/login">Sign in</a> or <a ng-href="#/register">register</a> to save your listening stats</p>
      <a ng-click="discogsLogin()"> Connect</a> to Discogs to manage your collection.
    </div>
    <div style="padding-top:10px">

    <button ng-click="onListen()">Listen</button>

    </div>

<div style="padding-top:10px">
<ul class="list-unstyled">
<li><b>Artist:</b> {{artist}}</li>
<li><b>Song:</b> {{title}}</li>
<li><b>Album:</b> {{album}}</li>
<img src="{{album_image}}" alt=""/>
</ul>
</div>

<table st-table="releaseResults" class="table table-striped">
	<thead>
	<tr>
		<th>title</th>
		<th>year</th>
		<th>country</th>
		<th>catno</th>
		<th>formats</th>
		<th>url</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="release in releaseResults">
		<td>{{release.title}}</td>
		<td>{{release.year}}</td>
		<td>{{release.country}}</td>
		<td>{{release.catno}}</td>
		<td>{{release.format | json : spacing}}</td>
		<td>{{release.resource_url}}</td>
	</tr>
	</tbody>
</table>

</div>
