
  <div class="container">
  <div ng-show="releaseResults">
<ul class="list-unstyled">
<li><b>Artist:</b> {{artist}}</li>
<li><b>Track:</b> {{track}}</li>
<li><b>Album:</b> {{album}}</li>
<img src="{{album_image}}" alt=""/>
</ul>
</div>
 
	<div class="button" class="fill" ng-click="onListen()" style="padding-top:10px" data-toggle="tooltip" data-placement="bottom" title="Click here to start Megastream">
    <span class="ico--mic" fill></span>
    </div>


<div style="padding-top:38px">
<table st-table="releaseResults" ng-show="showResults" class="table table-hover">
	<thead>
	<tr>
		<th>title</th>
		<th>year</th>
		<th>country</th>
		<th>catno</th>
		<th>formats</th>
		<th ng-show="signedIn()">discogs collection</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="release in releaseResults">
		<td>{{release.title}}</td>
		<td>{{release.year}}</td>
		<td>{{release.country}}</td>
		<td>{{release.catno}}</td>
		<td>{{release.format | json : spacing}}</td>
		<td ng-show="signedIn()"><button ng-click="addToCollection(release.id)">add to my collection</button></td>
	</tr>
	</tbody>
</table>
</div>

</div>