<!-- <div class="auth-forms">

  <h2>Log In</h2>

  <form ng-submit="login()">
    <p ng-show="error" class="text-danger">{{ error }}</p>
    <input type="email" ng-model="user.email" placeholder="Email" class="form-control"><br>
    <input type="password" ng-model="user.password" placeholder="Password" class="form-control"><br>
    <input type="submit" value="Log in" class="btn btn-primary" />
  </form>
  <p>Not a member? <a ng-href="#/register">Register</a> here.</p>
</div>
 -->

 <!-- <a href="#" data-toggle="modal" data-target="#login-modal">Login</a> -->
<!-- <div class="auth-forms">
	<div class="modal fade" data-dismiss="modal"  id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
					<h1>Login to Your Account</h1><br>
				  <form ng-submit="login()">
				  	<p ng-show="error" class="text-danger">{{ error }}</p>
					<input type="email" ng-model="user.email" placeholder="Email" class="form-control">
					<input type="password" ng-model="user.password" placeholder="Password" class="form-control">
					<input type="submit" name="login" class="login loginmodal-submit" value="Login">
				  </form>
					
				  <div class="login-help">
					<a href="#">Register</a> - <a href="#">Forgot Password</a>
				  </div>
				</div>
				</div>
			</div>
		  </div> -->

